@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extra Classes */
.min-h-screen-minus-112px {
	min-height: calc(100vh - 112px);
}

.max-h-screen-minus-112px {
	max-height: calc(100vh - 112px);
}

.h-full-minus-38px {
	height: calc(100% - 38px);
}

.h-full-minus-46px {
	height: calc(100% - 46px);
}

.h-full-minus-96px {
	height: calc(100% - 96px);
}

.h-full-minus-34px {
	height: calc(100% - 138px);
}

.loading {
	font-family: sans-serif;
	display: inline-block;
	position: relative;
}

.dots {
	display: inline-block;
}

.dot {
	opacity: 0;
	display: inline-block;
	animation: flash 2s infinite;
}

.dot:nth-child(1) {
	animation-delay: 0s;
}

.dot:nth-child(2) {
	animation-delay: 0.3s;
}

.dot:nth-child(3) {
	animation-delay: 0.9s;
}

.dot:nth-child(4) {
	animation-delay: 1.2s;
}

@keyframes flash {
	0%,
	100% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
}

.h-screen-minus-207px {
	height: calc(100vh - 206px);
}

@keyframes gradient {
	0%,
	100% {
		background-position: 100% 0;
	}
	25% {
		background-position: 70% 0;
	}
	50% {
		background-position: 0% 0;
	}
	75% {
		background-position: 30% 0;
	}
}

.skeleton {
	background: linear-gradient(
		to right,
		rgba(219, 219, 219, 0) 0%,
		rgba(219, 219, 219, 1) 25%,
		rgba(219, 219, 219, 1) 75%,
		rgba(219, 219, 219, 0) 100%
	);
	background-size: 200% 100%;
	animation: gradient 2s ease-in-out infinite;
}

.my-masonry-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -16px;
	width: auto;
}
.my-masonry-grid_column {
	padding-left: 16px;
	background-clip: padding-box;
}

.my-masonry-grid_column > div {
	margin-bottom: 16px;
}

::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.enable-scroll-y {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: thin;
	-ms-overflow-style: auto;
}

.enable-scroll-y::-webkit-scrollbar {
	width: 8px;
}

.enable-scroll-y::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 4px;
}

.enable-scroll-y::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.favourite-files-container {
	overflow-y: auto;
	max-height: max-content;
	position: relative;
}

.fade-effect {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50px;
	height: 40px;
	background: linear-gradient(180deg, transparent, #fff 30%);
	pointer-events: none;
}

#default-range {
	position: relative;
	z-index: 20;
}

#default-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	background: white;
	border: 4px solid #0063f7;
	border-radius: 50%;
	cursor: pointer;
	z-index: 20;
}

#default-range::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: white;
	border: 4px solid #0063f7;
	border-radius: 50%;
	cursor: pointer;
	z-index: 20;
}
